body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(ellipse at center, #1a191d 0%, #121114 100%);
  color: #f0f0f0;
  z-index: 0;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: url('https://motionarray.imgix.net/preview-75635-36PNHbqXYT_0000.jpg?w=660&q=60&fit=max&auto=format');
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.15;
  animation: fogParallax 200s linear infinite;
  z-index: -1;
  pointer-events: none;
}

@keyframes fogParallax {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  position: relative;
  z-index: 1;
}
